/* //scoll */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(212, 212, 212, 0.466); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

*,body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
    box-sizing: border-box;

}
.container{
    width: 100%;
    height: 100vh;
    /* background: url('./images/bg.jpg') rgba(255, 0, 150, 0.3); */
    background-image: url('./images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}

.chatbox{
    width: 60%;
    height: auto;
    background: rgba(255, 255, 255, 0.322);
    border-radius: 15px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.appName{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    align-items: center;
}
.sender{
    width: 70%;
    margin-top: 15px;
    margin-left: 3%;
    height: auto;
    /* height: 50px; */
    background: rgba(255, 255, 255, 0.438);
    display: flex;
    border-radius: 25px;
}
.icon{
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 50px;
}
p{
    /* background: #000; */
    width: 90%;
    color: rgba(77, 77, 77, 0.712);
    padding-left: 3%;
    border-radius: 15px;
    /* line-height: 25px; */
    margin-top: 15px;
    margin-bottom: 15px;
    height: auto;
    font-size: 14px;
}

.receiver{
    width: 70%;
    margin-top: 15px;
    height: auto;
    margin-left: 27%;
    /* height: 50px; */
    background: rgba(255, 255, 255, 0.438);
    display: flex;
    border-radius: 25px;
}
.main{
    background: rgba(255, 130, 130, 0.329);
    width: 90%;
    border-radius: 15px;
    height: 350px;
    margin-bottom: 50px;
    margin-top: 20px;
    overflow-y: auto;
}

.msg{
    width: 90%;
    height: 50px;
    display: flex;
    /* background: orange; */
    border-radius: 15px;
    position: absolute;
    bottom: 0;
    border: 1px solid white;
}
#msgs{
    width: 80%;
    height: 50px;
    border: none;
    padding-left: 3%;
    border-radius: 40px;
    background: transparent;
    color: rgba(44, 44, 44, 0.658);
}
#msgs:focus{
    outline: none;
}
button{
    width: 20%;
    height: 50px;
    border-radius: 40px;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}
button:focus{
    border: none;
    outline: none;
}


span{
    color: gray;
    font-weight: bolder;
    font-style: italic;
}


.typing{
    text-align: center;
    margin-bottom: 15px;
    width: 30%;
    animation: type 4s infinite;
    transition: 320ms;
    position: absolute;
    background: rgba(132, 235, 132, 0.418);
    height: 50px;
    left: 0;
    line-height: 50px;
    border-radius: 15px;
    display: none;
}

@keyframes type {
    25% {
            color: rgb(124, 124, 124);
            transition: 320ms;
            background: rgba(235, 161, 132, 0.418);
        }
    
        50% {
            color: rgb(56, 37, 1);
            transition: 320ms;
            background: rgba(132, 235, 132, 0.418);
        }
}

/*form*/

 @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .chatbox{
        width: 98%;
        height: 94%;
    }
    .sender , .receiver{
        width: 94%;
        
    }
    .receiver{
        margin-left: 3%;
    }
    p{
        font-size: 11px;
    }
    .main{
        width: 98%;
        height: 85%;
    }
    img{
        width: 25px;
    }
    .icon{
        width: 25px;
        height: 25px;
        /* text-align: center; */
        display: flex;
        justify-content: center;
        background: transparent;
    }
    #msgs{
        height: 30px;
        font-size: 12px;
    }
    .msg{
        height: 30px;
        width: 98%;
    }
    button{
        height: 30px;
    }
    bottom img{

    }
  } 

  /* @media screen and (min-width: 480px) {
    body{
        height: 50vh;
    }
  } */


